.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px;
    background-color: var(--ion-background-color);
    border-top: 1px solid #e0e0e0; /* Line at the top for better separation */
  }
  
  .menu-item {
    text-align: center;
    color: var(--ion-text-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    margin-bottom: 4px;
  }
  
  .menu-item:hover {
    color: var(--ion-color-primary);
  }


ion-toolbar {
  padding-left: 117px;
}
