
  <ion-content class="ion-padding">
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Thông báo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()" class="ion-">Cancel</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-content color="light">
            <ion-list [inset]="true">
              <ion-item>
                <ion-label>Pokémon Yellow</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Mega Man X</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>The Legend of Zelda</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Pac-Man</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Super Mario World</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>