# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
API/.vs/API/config/applicationhost.config
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/FileContentIndex/3bc97b91-1a79-45a5-898c-dd9a3d804f82.vsidx
API/.vs/API/FileContentIndex/634ca069-5f81-46b2-b0d9-9b7b802dfca2.vsidx
API/.vs/API/FileContentIndex/0746d48d-7bf9-40b7-a685-ec94b7e521ba.vsidx
API/.vs/API/FileContentIndex/12965bf3-b173-4154-9540-fb6aed67403b.vsidx
API/.vs/API/FileContentIndex/714608cb-a5d0-44d8-9196-45b140277629.vsidx
API/.vs/API/FileContentIndex/acc49ed3-bdfc-4fc1-a169-5bab8ad9a2f8.vsidx
API/.vs/API/FileContentIndex/b810e45f-f1f6-4b80-8173-e206ef5f7542.vsidx
API/.vs/API/FileContentIndex/c4527742-5a4c-4e11-ba91-52e330995e45.vsidx
API/.vs/API/FileContentIndex/cac8e880-36f7-471b-a9d2-74c0cc2d1c84.vsidx
API/.vs/API/FileContentIndex/ec42f221-d903-4dbb-9d44-0da774125823.vsidx
API/.vs/API/v17/.futdcache.v2
API/.vs/API/v17/.suo
API/.vs/API/v17/DocumentLayout.backup.json
API/.vs/API/v17/DocumentLayout.json
API/.vs/ProjectEvaluation/api.metadata.v9.bin
API/.vs/ProjectEvaluation/api.projects.v9.bin
API/.vs/ProjectEvaluation/api.strings.v9.bin
API/API/bin/Debug/net8.0/API.deps.json
API/API/bin/Debug/net8.0/API.dll
API/API/bin/Debug/net8.0/API.exe
API/API/bin/Debug/net8.0/API.pdb
API/API/bin/Debug/net8.0/Common.dll
API/API/bin/Debug/net8.0/Common.pdb
API/API/bin/Debug/net8.0/Data.dll
API/API/bin/Debug/net8.0/Data.pdb
API/API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
API/API/bin/Debug/net8.0/NetCore.AutoRegisterDi.dll
API/API/bin/Debug/net8.0/Scrutor.dll
API/API/bin/Debug/net8.0/Service.dll
API/API/bin/Debug/net8.0/Service.pdb
API/API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
API/API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
API/API/bin/Debug/net8.0/Z.EntityFramework.Extensions.EFCore.dll
API/.vs/API/config/applicationhost.config
API/.vs/API/FileContentIndex/cac8e880-36f7-471b-a9d2-74c0cc2d1c84.vsidx
API/API/obj/API.csproj.nuget.dgspec.json
API/API/obj/API.csproj.nuget.g.props
API/API/obj/API.csproj.nuget.g.targets
API/API/obj/project.assets.json
API/API/obj/project.nuget.cache
API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/API/obj/Debug/net8.0/API.assets.cache
API/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
API/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
API/API/obj/Debug/net8.0/API.dll
API/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/API/obj/Debug/net8.0/API.genruntimeconfig.cache
API/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
API/API/obj/Debug/net8.0/API.pdb
API/API/obj/Debug/net8.0/API.sourcelink.json
API/API/obj/Debug/net8.0/ApiEndpoints.json
API/API/obj/Debug/net8.0/apphost.exe
API/API/obj/Debug/net8.0/ref/API.dll
API/API/obj/Debug/net8.0/refint/API.dll
API/Service/bin/Debug/net8.0/Common.dll
API/Service/bin/Debug/net8.0/Common.pdb
API/Service/bin/Debug/net8.0/Data.dll
API/Service/bin/Debug/net8.0/Data.pdb
API/Service/bin/Debug/net8.0/Service.deps.json
API/Service/bin/Debug/net8.0/Service.dll
API/Service/bin/Debug/net8.0/Service.pdb
API/Service/obj/project.assets.json
API/Service/obj/project.nuget.cache
API/Service/obj/Service.csproj.nuget.dgspec.json
API/Service/obj/Service.csproj.nuget.g.props
API/Service/obj/Service.csproj.nuget.g.targets
API/Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
API/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
API/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
API/Service/obj/Debug/net8.0/Service.assets.cache
API/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
API/Service/obj/Debug/net8.0/Service.csproj.BuildWithSkipAnalyzers
API/Service/obj/Debug/net8.0/Service.csproj.CoreCompileInputs.cache
API/Service/obj/Debug/net8.0/Service.csproj.FileListAbsolute.txt
API/Service/obj/Debug/net8.0/Service.csproj.Up2Date
API/Service/obj/Debug/net8.0/Service.dll
API/Service/obj/Debug/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
API/Service/obj/Debug/net8.0/Service.GlobalUsings.g.cs
API/Service/obj/Debug/net8.0/Service.pdb
API/Service/obj/Debug/net8.0/Service.sourcelink.json
API/Service/obj/Debug/net8.0/ref/Service.dll
API/Service/obj/Debug/net8.0/refint/Service.dll
API/Data/obj/Data.csproj.nuget.dgspec.json
API/Data/obj/Data.csproj.nuget.g.props
API/Data/obj/Data.csproj.nuget.g.targets
API/Data/obj/project.assets.json
API/Data/obj/project.nuget.cache
API/Data/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
API/Data/obj/Debug/net8.0/Data.AssemblyInfo.cs
API/Data/obj/Debug/net8.0/Data.AssemblyInfoInputs.cache
API/Data/obj/Debug/net8.0/Data.assets.cache
API/Data/obj/Debug/net8.0/Data.csproj.AssemblyReference.cache
API/Data/obj/Debug/net8.0/Data.csproj.BuildWithSkipAnalyzers
API/Data/obj/Debug/net8.0/Data.csproj.CoreCompileInputs.cache
API/Data/obj/Debug/net8.0/Data.csproj.FileListAbsolute.txt
API/Data/obj/Debug/net8.0/Data.csproj.Up2Date
API/Data/obj/Debug/net8.0/Data.dll
API/Data/obj/Debug/net8.0/Data.GeneratedMSBuildEditorConfig.editorconfig
API/Data/obj/Debug/net8.0/Data.genruntimeconfig.cache
API/Data/obj/Debug/net8.0/Data.GlobalUsings.g.cs
API/Data/obj/Debug/net8.0/Data.pdb
API/Data/obj/Debug/net8.0/Data.sourcelink.json
API/Data/obj/Debug/net8.0/ref/Data.dll
API/Data/obj/Debug/net8.0/refint/Data.dll
API/Data/bin/Debug/net8.0/Common.dll
API/Data/bin/Debug/net8.0/Common.pdb
API/Data/bin/Debug/net8.0/Data.deps.json
API/Data/bin/Debug/net8.0/Data.dll
API/Data/bin/Debug/net8.0/Data.pdb
API/Data/bin/Debug/net8.0/Data.runtimeconfig.json
API/Common/obj/Common.csproj.nuget.dgspec.json
API/Common/obj/Common.csproj.nuget.g.props
API/Common/obj/Common.csproj.nuget.g.targets
API/Common/obj/project.assets.json
API/Common/obj/project.nuget.cache
API/Common/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
API/Common/obj/Debug/net8.0/Common.AssemblyInfo.cs
API/Common/obj/Debug/net8.0/Common.AssemblyInfoInputs.cache
API/Common/obj/Debug/net8.0/Common.assets.cache
API/Common/obj/Debug/net8.0/Common.csproj.AssemblyReference.cache
API/Common/obj/Debug/net8.0/Common.csproj.BuildWithSkipAnalyzers
API/Common/obj/Debug/net8.0/Common.csproj.CoreCompileInputs.cache
API/Common/obj/Debug/net8.0/Common.csproj.FileListAbsolute.txt
API/Common/obj/Debug/net8.0/Common.dll
API/Common/obj/Debug/net8.0/Common.GeneratedMSBuildEditorConfig.editorconfig
API/Common/obj/Debug/net8.0/Common.GlobalUsings.g.cs
API/Common/obj/Debug/net8.0/Common.pdb
API/Common/obj/Debug/net8.0/Common.sourcelink.json
API/Common/obj/Debug/net8.0/ref/Common.dll
API/Common/obj/Debug/net8.0/refint/Common.dll
API/API/obj/Debug/net8.0/API.pdb
API/API/obj/Debug/net8.0/ApiEndpoints.json
API/API/obj/Debug/net8.0/apphost.exe
API/API/obj/Debug/net8.0/ref/API.dll
API/API/obj/Debug/net8.0/refint/API.dll
API/.vs/ProjectEvaluation/api.metadata.v9.bin
API/.vs/ProjectEvaluation/api.projects.v9.bin
API/.vs/ProjectEvaluation/api.strings.v9.bin
