<!-- Message if no data is found -->
<ion-item *ngIf="!loading && (!items || items.length === 0)">
  Không có thông tin.
</ion-item>
<!-- Loading and error messages -->
<ion-item *ngIf="loading">Loading...</ion-item>
<ion-item *ngIf="error">{{ error }}</ion-item>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: larger;">Kết quả xét nghiệm</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid *ngIf="items && items.length">
    <!-- Header row for the table -->
    <ion-row>
      <ion-col>STT</ion-col>
      <ion-col>Mã</ion-col>
      <ion-col>Tên xét nghiệm</ion-col>
      <ion-col>Kết quả</ion-col>
    </ion-row>
  
    <!-- Loop through each item in items array -->
    <ng-container *ngFor="let item of items; let i = index">
      <ion-row class="heading1">
        <ion-col class="date-time">
          {{ i + 1 }}. {{ item.Ten }} [{{ item.LoaiMau }}]
          <span>{{ item.NgayKetQua | date: 'dd/MM/yyyy HH:mm' }}</span>
        </ion-col>
      </ion-row>
  
      <!-- Nested loop for each KetQua in current item -->
      <ion-row *ngFor="let ketQua of item.KetQua">
        <ion-col>{{ ketQua.Ma }}</ion-col>
        <ion-col>{{ ketQua.Ten }}</ion-col>
        <ion-col>{{ ketQua.KetQua }}</ion-col>
        <ion-col>{{ ketQua.DonVi }}</ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ion-nav-link router-direction="forward" [component]="component">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Phẫu thuật đã thực hiện </ion-button>
  </ion-nav-link>
</ion-content>
