<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid class="ion-no-padding ion-align-items-center ion-justify-content-between"
      style="max-width: 100%; margin: auto;">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto"></ion-col>
        <ion-col>
          <ion-searchbar (click)="goToDV()" placeholder="Tìm kiếm..." class="custom-searchbar"></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" id="notification-button">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ảnh nền -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/img/nen.jpg" alt="Nen" style="width: 100%; height: auto;">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Thông tin hồ sơ -->
  <ion-card class="ion-no-margin ion-padding-none" style="margin-top: -50px;">
    <ion-grid>
      <ion-row class="ion-justify-content-center" style="margin-top: 20px;">
        <ion-col size="auto">
          <img src="../../assets/img/1.png" alt="Image 1" style="max-width: 100px; transform: scale(1.5);">
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-text-center" >
      <p class="ion-no-margin" style="font-size: 24px; font-weight: bold; margin-top: 14px;">Cao Thị Xuân</p>
    </div>

    <!-- Thông tin chi tiết -->
    <ion-grid class="ion-padding-start ion-padding-end">
      <ion-row>
        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Ngày sinh:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">01/01/1990</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Giới tính:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Nam</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Dân tộc:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Kinh</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Quốc tịch:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Việt Nam</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Nghề nghiệp:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Kỹ sư</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Điện thoại:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">0123456789</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Số ĐDCN/CCCD:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">123456789</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Ngày cấp:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">01/01/2015</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Nơi cấp:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Hà Nội</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Địa chỉ:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">123 Đường ABC, Hà Nội</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Nơi tạo:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">Hà Nội</ion-col>

        <ion-col size="6" class="ion-text-left" style="font-weight: bold;">Ngày lập hồ sơ:</ion-col>
        <ion-col size="6" class="ion-text-right" style="opacity: 0.8;">01/01/2020</ion-col>
      </ion-row>

      <!-- Nút Cập Nhật -->
      <ion-row style="margin-top: 20px;">
        <ion-col size="12">
          <ion-button expand="block" color="primary" id="open-modal-cap-nhat">Cập nhật</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
