ion-header {
    ion-toolbar {
        --background: white;
    }
}

ion-item {
    ion-label {
        font-size: 1.3rem;
        font-weight: bold;

        p {
            margin-top: 5px;
            font-size: 0.9rem;
            font-weight: normal;
        }
    }
}

ion-thumbnail {
    img {
        border-radius: 50px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.highlight {
    font-style: italic; /* Ví dụ: in nghiêng */
    color: red;        /* Màu chữ có thể thay đổi */
}