
<ion-card>
  <ion-card-header>
    <ion-header>
     
    </ion-header>
    <ion-card-title>Kết quả xét nghiệm có giá trị</ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>STT</ion-col>
      <ion-col>Mã</ion-col>
      <ion-col>Tên xét nghiệm </ion-col>
      <ion-col>Kết quả</ion-col>
    </ion-row>

    <ion-row class="heading1">
      <ion-col class="date-time">
        1. Đo hoạt độ AST (GOT)[Máu]
        <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

    <ion-row class="heading1">
       <ion-col class="date-time">
        2. Định lượng Creatinin (máu)
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>
    
    <ion-row class="heading1">
       <ion-col class="date-time">
        3. Định lượng Urê máu [Máu]
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

    <ion-row class="heading1">
       <ion-col class="date-time">
        4. Đo hoạt độ ALT (GPT) [Máu]
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

    <ion-row class="heading1">
       <ion-col class="date-time">
        5. Định lượng Glucose [Máu]
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

    <ion-row class="heading1">
       <ion-col class="date-time">
        6. Tổng phân tích nước tiêu (Bằng máy tự động)
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

    <ion-row class="heading1">
       <ion-col class="date-time">
        7. Tổng phân tích tế bào máu ngoại vi (bằng máy đếm tổng trở)
       <span>21/10/2024 00:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>a</ion-col>
      <ion-col>b</ion-col>
      <ion-col>c</ion-col>
      <ion-col>d</ion-col>
    </ion-row>

  </ion-grid>
  

  




</ion-card>
