<ion-content class="ion-padding">
  <!-- Accordion Group for all sections -->
  <ion-accordion-group>

 
 
  

    <!-- Thông tin đợt khám chữa bệnh -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Thông tin đợt khám chữa bệnh
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-thong-tin-dot-kham-chua-benh></app-thong-tin-dot-kham-chua-benh>
      </div>
    </ion-accordion>

    <!-- Chuẩn đoán xác định khi ra viện -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Chuẩn đoán xác định khi ra viện
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-chuan-doan-xac-dinh-khi-ra-vien></app-chuan-doan-xac-dinh-khi-ra-vien>
      </div>
    </ion-accordion>

    <!-- Chỉ số theo dõi chính -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Chỉ số theo dõi chính
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-chi-so-theo-doi-chinh></app-chi-so-theo-doi-chinh>
      </div>
    </ion-accordion>

  
    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Kết quả xét nghiệm có giá trị
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-thong-tin-xet-nghiem></app-thong-tin-xet-nghiem>
      </div>
    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Phẫu thuật thủ thuật đã thực hiện
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-phau-thuat-thu-thuat-da-thuc-hien></app-phau-thuat-thu-thuat-da-thuc-hien>
      </div>
    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Chuẩn đoán hình ảnh thăm dò chức năng
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-chuan-doan-hinh-anh-tham-do-chuc-nang></app-chuan-doan-hinh-anh-tham-do-chuc-nang>
      </div>
    </ion-accordion>

    <!-- Thuốc đã điều trị, đơn thuốc đã kê -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
          Thuốc đã điều trị, đơn thuốc đã kê
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-thuoc-da-dieu-tri-don-thuoc-da-ke></app-thuoc-da-dieu-tri-don-thuoc-da-ke>
      </div>
    </ion-accordion>

  <!-- Tóm tắt hồ sơ bệnh án tình trạng người bệnh -->
  <ion-accordion>
    <ion-item slot="header">
      <ion-label style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">
        Tóm tắt hồ sơ bệnh án tình trạng người bệnh
      </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <app-tom-tat-ho-so-benh-an-tinh-trang-nguoi-benh></app-tom-tat-ho-so-benh-an-tinh-trang-nguoi-benh>
    </div>
  </ion-accordion>


  </ion-accordion-group>
</ion-content>