<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: larger;">Tóm tắt hồ sơ bệnh án</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ng-container *ngFor="let item of items">
    <ion-label class="label-left" color="dark">Tóm tắt tiền sử, bệnh sử và diễn biến lâm sàng:
      <ion-label color="medium">{{ item.tomTatTienSu || 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Tóm tắt kết quả cận lâm sàng có giá trị:
      <ion-label color="medium">{{ item.tomTatCLS|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Phương pháp điều trị đã thực hiện:
      <ion-label color="medium">{{ item.phuongPhapDieuTri|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Hướng điều trị tiếp theo, đơn thuốc, lịch dặn tái khám:
      <ion-label color="medium">{{ item.bacSi|| 'Không có thông tin' }}</ion-label>
    </ion-label>
  </ng-container>
</ion-content>
