<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: larger;">Tóm tắt hồ sơ bệnh án</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ng-container *ngFor="let item of items">
    <ion-label class="label-left" color="dark">Tóm tắt tiền sử, bệnh sử và diễn biến lâm sàng:
      <ion-label color="medium">{{ item.tomTatTienSu || 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Tóm tắt kết quả cận lâm sàng có giá trị:
      <ion-label color="medium">{{ item.tomTatCLS|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Phương pháp điều trị đã thực hiện:
      <ion-label color="medium">{{ item.phuongPhapDieuTri|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Hướng điều trị tiếp theo, đơn thuốc, lịch dặn tái khám:
      <ion-label color="medium">{{ item.bacSi|| 'Không có thông tin' }}</ion-label>
    </ion-label>
  </ng-container>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-nav-link router-direction="forward" [component]="component1">
        <ion-button expand="block" color="primary" style="margin-top: 20px;">Thông tin đợt khám chữa bệnh</ion-button>
      </ion-nav-link>
      </ion-col>
    <ion-col size="6">
<ion-nav-link router-direction="forward" [component]="component2">
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Chỉ số theo dõi chính</ion-button>
</ion-nav-link>
</ion-col>
<ion-col size="6">
<ion-nav-link router-direction="forward" [component]="component3">
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán xác định khi ra viện</ion-button>
</ion-nav-link>
</ion-col>
<ion-col size="6">
<ion-nav-link router-direction="forward" [component]="component4">
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Kết quả xét nghiệm</ion-button>
</ion-nav-link>
</ion-col>
<ion-col size="6">
<ion-nav-link router-direction="forward" [component]="component5">
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán hình ảnh, thăm dò chức năng</ion-button>
</ion-nav-link>
</ion-col>
<ion-col size="6">
<ion-nav-link router-direction="forward" [component]="component6">
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Phẩu thuật đã thực hiện</ion-button>
</ion-nav-link>
</ion-col>
<ion-col size="12">
<ion-nav-link>
  <ion-nav-link router-direction="forward" [component]="component7"></ion-nav-link>
  <ion-button expand="block" color="primary" style="margin-top: 20px;">Thuốc đã điều trị, đơn thuốc đã kê</ion-button>
</ion-nav-link>
</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
