<ion-card-header>
  <ion-card-title style="font-size: larger;">Chuẩn đoán xác định khi ra viện</ion-card-title>
</ion-card-header>
<ion-card-content *ngIf="items">
  <ion-label class="label-left" color="dark">Chuẩn đoán của bác sĩ: <ion-label color="medium"> {{items.chaN_DOAN_RV}}
    </ion-label> </ion-label>
  <ion-label class="label-left" color="dark">Bệnh chính: <ion-label color="medium"> {{items.mA_BENH_CHINH}} </ion-label>
  </ion-label>
  <ion-label class="label-left" color="dark">Mã bệnh kèm theo: <ion-label
      color="medium">{{items.mA_BENH_KT}}</ion-label> </ion-label>
</ion-card-content>