<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: larger;">Thông tin phẫu thuật</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngFor="let item of items">
    <ion-label class="label-left" color="dark">Mã: 
      <ion-label color="medium">{{ item.ma|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Tên: 
      <ion-label color="medium">{{ item.ten|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Ngày: 
      <ion-label color="medium">{{ item.ngayKetQua|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Mô tả: 
      <ion-label color="medium">{{ item.moTa|| 'Không có thông tin' }}</ion-label>
    </ion-label>

  </ng-container>

  <ion-nav-link router-direction="forward" [component]="component">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán hình ảnh thăm dò chức năng</ion-button>
  </ion-nav-link>
</ion-content>

