
  <ion-header>
    <ion-toolbar>
      <ion-title style="font-size: larger;">Thông tin đợt khám</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" *ngIf="items">
    <h2 style="font-size: larger; margin-bottom: 10px;">Nơi khám: {{ items.tenCSKCB || 'Không có thông tin' }}</h2>

    <ion-label class="label-left" color="dark">Lý do đến khám bệnh: 
      <ion-label color="medium">{{ items.lyDoDenKham || 'Không có thông tin' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">CSKCB đã chuyển người bệnh đi: 
      <ion-label color="medium">{{ items.tenCSKCBChuyenDi || 'Không có thông tin' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Ngày đến khám: 
      <ion-label color="medium">{{ items.ngayKham | date:'dd/MM/yyyy' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Hình thức khám, chữa bệnh: 
      <ion-label color="medium">{{ items.hinhThucKham || 'Không có thông tin' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Ngày giờ vào viện: 
      <ion-label color="medium">{{ items.ngayVaoVien | date:'dd/MM/yyyy HH:mm' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Ngày giờ ra viện: 
      <ion-label color="medium">{{ items.ngayRa | date:'dd/MM/yyyy HH:mm' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Kết quả điều trị:  
      <ion-label color="medium">{{ items.ketQua || 'Không có thông tin' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">Tình trạng ra viện: 
      <ion-label color="medium">{{ items.tinhTrang || 'Không có thông tin' }}</ion-label>
    </ion-label>

    <ion-label class="label-left" color="dark">CSKCB nơi sẽ chuyển người bệnh đến:  
      <ion-label color="medium">{{ items.tenCSKCBChuyenDen || 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component1">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Chỉ số theo dõi chính</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component2">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán xác định khi ra viện</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component3">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Kết quả xét nghiệm</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component4">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Phẩu thuật đã thực hiện</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component5">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán hình ảnh, thăm dò chức năng</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="6">
    <ion-nav-link router-direction="forward" [component]="component6">
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Thuốc đã điều trị, đơn thuốc đã kê</ion-button>
    </ion-nav-link>
    </ion-col>
    <ion-col size="12">
    <ion-nav-link>
      <ion-nav-link router-direction="forward" [component]="component7"></ion-nav-link>
      <ion-button expand="block" color="primary" style="margin-top: 20px;">Tóm tắt hồ sơ bệnh án</ion-button>
    </ion-nav-link>
    </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
