
<ion-card>
  <ion-card-header>
    <ion-card-title>Chuẩn đoán hình ảnh, thăm dò chức năng</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <ion-label color="dark">1. Chụp Xquang ngực thẳng:  <ion-label  class="label-right" color="medium">13/09/2024 09:58 </ion-label> </ion-label>
     </ion-card-content>
     <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="tieu-de-mo-ta">Mô tả:</ion-label>
            <ion-label class="thong-tin-chuan-doan">Trên phim chụp tim đúng giải phẫu</ion-label>
            <ion-label class="thong-tin-chuan-doan">Phế quản, rốn phổi hai bên tăng đậm trải rộng</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="tieu-de-mo-ta">Kết luận:</ion-label>
          <ion-label class="thong-tin-chuan-doan">Hình ảnh rốn phổi đậm</ion-label>

        </ion-col>
       
      </ion-row>
    </ion-grid>

</ion-card>
