<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chuẩn đoán hình ảnh</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngFor="let item of items">
    <ion-label class="label-left" color="dark">Mã: 
      <ion-label color="medium">{{ item.ma|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Tên: 
      <ion-label color="medium">{{ item.ten|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Ngày: 
      <ion-label color="medium">{{ item.ngayKetQua|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Mô tả: 
      <ion-label color="medium">{{ item.moTa|| 'Không có thông tin' }}</ion-label>
    </ion-label>
    <ion-label class="label-left" color="dark">Kết Luận: 
      <ion-label color="medium">{{ item.ketLuan|| 'Không có thông tin' }}</ion-label>
    </ion-label>
  </ng-container>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-nav-link router-direction="forward" [component]="component1">
          <ion-button expand="block" color="primary" style="margin-top: 20px;">Thông tin đợt khám chữa bệnh</ion-button>
        </ion-nav-link>
        </ion-col>
      <ion-col size="6">
  <ion-nav-link router-direction="forward" [component]="component2">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Chỉ số theo dõi chính</ion-button>
  </ion-nav-link>
  </ion-col>
  <ion-col size="6">
  <ion-nav-link router-direction="forward" [component]="component3">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Chuẩn đoán xác định khi ra viện</ion-button>
  </ion-nav-link>
  </ion-col>
  <ion-col size="6">
  <ion-nav-link router-direction="forward" [component]="component4">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Kết quả xét nghiệm</ion-button>
  </ion-nav-link>
  </ion-col>
  <ion-col size="6">
  <ion-nav-link router-direction="forward" [component]="component5">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Phẩu thuật đã thực hiện</ion-button>
  </ion-nav-link>
  </ion-col>
  <ion-col size="6">
  <ion-nav-link router-direction="forward" [component]="component6">
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Thuốc đã điều trị, đơn thuốc đã kê</ion-button>
  </ion-nav-link>
  </ion-col>
  <ion-col size="12">
  <ion-nav-link>
    <ion-nav-link router-direction="forward" [component]="component7"></ion-nav-link>
    <ion-button expand="block" color="primary" style="margin-top: 20px;">Tóm tắt hồ sơ bệnh án</ion-button>
  </ion-nav-link>
  </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>