ion-card-title {
    font-weight: bold;
}

ion-card-content{
   
    padding-bottom: 0;
}
.label-right{
    padding-left: 20px;
}

.thong-tin-chuan-doan{
    padding-top: 10px;
    padding-left: 20px;
    display: block;
}
.tieu-de-mo-ta{
 padding-left: 10px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}