<ion-content class="ion-padding" [fullscreen]="true">
  <div style="top: 20%; max-width: 450px; margin: auto;">
    <div class="text-center">
      <img src="../../assets/img/logo@2x.png" title="Logo" class="logo" style="max-width: 300px; margin-top: 20%;">
    </div>
    <div
      style="text-align: center; font-weight: bold; font-size: 22px; text-align: center; width: 100%; margin-top: 10px; margin-bottom: 5px;">
      Đăng Nhập Bằng QR
    </div>

    <ion-card class="ion-text-center">
      <ion-card-content>
        <qrcode [qrdata]="qrString" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
        <div style="margin-top: 15px;">
          <!-- <p style="font-size: 14px; color: #333;">Token: {{ scanResult }}</p> -->
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div style="margin-top: 20px;">
        <ion-button routerLink="/login" expand="block">Đăng
          Nhập băng tài khoản</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>

<ion-footer color="white">
  <ion-toolbar>
    <p class="copyright">Create by <a>Song An</a></p>
  </ion-toolbar>
</ion-footer>