<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="main"></ion-back-button>
    </ion-buttons>
    <ion-title>Thông Tin Tiêm Chủng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Danh sách tìm kiếm -->
    <div class="search-section">
      <ion-searchbar (ionInput)="onSearch($event)" placeholder="Tìm kiếm tiêm chủng..."></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of displayedItems" (click)="addToSelected(item)">
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Danh sách thuốc đã chọn -->


    <div class="container">
      <div class="list-section">
        <ion-list>
          <ion-list-header color="primary">
            <ion-grid>
              <ion-row>
                <ion-col size="8">Danh sách thuốc</ion-col>
                <ion-col size="4" class="ion-text-end">Số lượng</ion-col>
              </ion-row>
            </ion-grid>
          </ion-list-header>
          <ion-item-sliding *ngFor="let item of selectedItemKeys; trackBy: trackByIndex">
            <ion-item>
              <ion-label>{{ item }}</ion-label>
              <ion-label slot="end" class="text-right">{{ selectedItems[item] }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="removeItem(item)" color="danger">
                <ion-icon name="trash"></ion-icon>
                Xóa
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="createBill()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Thêm đơn thuốc</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>