
<ion-card>
  <ion-card-header>
    <ion-card-title>Chỉ số theo dõi chính</ion-card-title>
  </ion-card-header>

  <ion-card-content *ngIf="items">
  <ion-label class="label-left" color="dark">Nhóm máu ABO:  <ion-label color="medium">{{items.nhoM_MAU}} </ion-label> </ion-label>
    <ion-label class="label-left" color="dark">Chiều cao:   <ion-label color="medium"></ion-label> không có thông tin </ion-label>
    <ion-label class="label-left" color="dark">Cân nặng:  <ion-label color="medium">{{items.caN_NANG}}kg</ion-label> </ion-label>
  </ion-card-content>


</ion-card>
