
<ion-card>
  <ion-card-header>
    <ion-card-title>Chuẩn đoán xác định khi ra viện</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <ion-label class="label-left" color="dark">Chuẩn đoán của bác sĩ:  <ion-label color="medium">Viêm phế quản phổi, không đặc hiệu, Tiêu chảy rối loạn chức năng </ion-label> </ion-label>
    <ion-label class="label-left" color="dark">Bệnh chính:   <ion-label color="medium">J18.0 Viêm phế quản phổi, không đặc hiệu </ion-label> </ion-label>
    <ion-label class="label-left" color="dark">Mã bệnh kèm theo:  <ion-label color="medium">K59.1</ion-label> </ion-label>
  </ion-card-content>


</ion-card>
