<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>QR của tôi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrString" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="ion-text-wrap">Scan Result: {{scanResult}}</ion-label>
  </ion-item>
</ion-content>