<ion-content class="ion-padding">
  <!-- Main Content -->
  <ion-grid class="ion-padding-top" style="max-width: 450px; margin: auto;">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar>
          <img src="../../assets/img/1.png" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="items">
        <h3 class="ion-no-margin">Xin chào</h3>
        <p class="ion-no-margin">{{items.hoTen|titlecase}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Swiper Container -->
  <ion-grid class="ion-justify-content-center ion-padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <img src="../../assets/img/logo-nobackground.png" alt="" style="width: 220px; height: auto; object-fit: contain;">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Services Grid -->
  <ion-grid class="ion-padding-top" style="max-width: 350px; margin: auto;">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="goToProFile()">
          Thông Tin Hành Chính
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="goToThuoc()">
          Thông tin Tiêm Chủng
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="danger" (click)="goToBHYT()">
          Thông Tin BHYT
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="danger" (click)="goToDotKham()">
          DS Khám Chữa Bệnh
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label><strong>Dịch Vụ</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="4">
        <ion-button expand="block" fill="outline">
          <ion-icon name="finger-print-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Sinh Trắc Học</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline">
          <ion-icon name="gift-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Đổi quà</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" (click)="goToHotLine()">
          <ion-icon name="call-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Tư Vấn Trực Tuyến</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline">
          <ion-icon name="newspaper-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Hóa đơn</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline">
          <ion-icon name="fitness-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Chuyển Tiền Từ Thiện</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
