<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Thuốc đã điều trị, đơn thuốc đã kê</ion-card-title>
    </ion-card-header>
  
    <ion-card-content  >
      
      <!-- 1 dòng thuốc -->
      <ion-grid>
        <ion-row class="heading1">
          <ion-col class="date-time">
            1. Tên thuốc
            <span><ion-icon name="close-outline"></ion-icon>6 Viên</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item-divider>
            Không xác định  
          </ion-item-divider>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  
  
  </ion-card>
  </div>