
<ion-card>
  <ion-card-header>
    <ion-card-title>Lịch sử bệnh</ion-card-title>
  </ion-card-header>

  <ion-card-content >
  <ion-label class="label-left" color="dark">ngày - ngày <ion-label color="medium">Ghi nhận lúc: </ion-label> </ion-label>
    <ion-label class="label-left" color="dark">Nơi khám chữa bệnh:   <ion-label color="medium"></ion-label> không có thông tin </ion-label>
    <ion-label class="label-left" color="dark">Chuẩn đoán xác định khi ra viện:  <ion-label color="medium">không có thông tin</ion-label> </ion-label>
  </ion-card-content>


</ion-card>
