<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-grid class="ion-no-padding ion-align-items-center ion-justify-content-between" style="max-width: 450px; margin: auto;">
      <ion-row class="ion-align-items-center">
        <!-- Cột cho nút menu -->
        <ion-col size="auto">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <!-- Cột cho thanh tìm kiếm -->
        <ion-col>
          <ion-searchbar (click)="goToDV()" placeholder="Tìm kiếm..." class="custom-searchbar"></ion-searchbar>
        </ion-col>
        <!-- Cột cho nút thông báo -->
        <ion-col size="auto">
          <ion-button fill="clear" id="open-modal-thong-bao">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-card *ngFor="let item of items; let i = index">
  <div button (click)="goToDSKhamChuaBenh(i)">
  <ion-card-content  >
    <ion-badge slot="start">{{i+1}}</ion-badge>
  <ion-label  class="label-left" color="dark" >{{item.ngayVao | date:'dd/MM/yyyy'}} - {{item.ngayRa |  date:'dd/MM/yyyy'}}  </ion-label>

  <ion-label color="medium">Ghi nhận lúc: {{item.ngayVao | date:'dd/MM/yyyy HH:mm'}} </ion-label>
    <ion-label class="label-left" color="dark">Nơi khám chữa bệnh:   <ion-label color="medium"></ion-label>{{item.noiKham}} </ion-label>
    <ion-label class="label-left" color="dark">Chuẩn đoán xác định khi ra viện:   <ion-label color="tertiary" style="text-decoration: underline;">A123 </ion-label> <ion-label color="medium"> {{item.chanDoan}}</ion-label> </ion-label>
  </ion-card-content>
</div>

</ion-card>
