<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-grid class="ion-no-padding ion-align-items-center ion-justify-content-between" style="max-width: 450px; margin: auto;">
      <ion-row class="ion-align-items-center">
        <!-- Cột cho nút menu -->
        <ion-col size="auto">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <!-- Cột cho thanh tìm kiếm -->
        <ion-col>
          <ion-searchbar (click)="goToDV()" placeholder="Tìm kiếm..." class="custom-searchbar"></ion-searchbar>
        </ion-col>
        <!-- Cột cho nút thông báo -->
        <ion-col size="auto">
          <ion-button fill="clear" id="open-modal-thong-bao">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>


  <!-- Thẻ thông tin BHYT -->
   <div *ngIf="items && items.length > 0;">
  <ion-card class="card-info" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title class="card-title">Thông tin thẻ BHYT</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div class="card-details">
        <p class="card-text">{{item.mA_THE_BHYT}}</p>
        <p class="card-date">{{item.ngaY_VAO}} đến <span>{{item.ngaY_RA}}</span> </p>
      </div>
      <ion-badge color="light" class="card-badge">{{item.mA_DKBD}} </ion-badge>
    </ion-card-content>
  </ion-card>
  
  <div *ngIf="!items || items.length === 0">
    <p>Không có đối tượng nào để hiển thị.</p>
  </div>
</div>


</ion-content>
